*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: baseline;
}

.hour {
  font-size: 4rem;
  font-weight: 700;
}

.second-tick {
  font-size: 3rem;
}

.minute {
  font-size: 4rem;
  font-weight: 200;
}

.milisec {
  font-size: 0.5rem;
  opacity: 0.5;
  width: 20px;
  align-self: center;
}

.lead {
  opacity: 0.3;
}

.lead > span {
  font-weight: 700;
}